$white: #FFFFFF;
$black: #121212;
$primary: #31A0DF;
$primary-hover: #43B0EE;
$primary-disabled: #A4D4F0;
$primary-footer-link: #D0E6F3;
$secondary: #FCD403;
$secondary-hover: #F3DA56;
$teruary-light: #ADADAD;
$teruary: #6C6C6C;
$gray-light: #D3D3D3;
$bg-surface: #F7F7F7;
$error-color: #AF2525;
$assets-2: #2AD550;
$assets-3-bg: #FFF6C7;
$assets-4: #F02E2E;
$assets-4-bg: #F9C7C7;
$assets-4-hover: #F94949;

/* breakpoints */
$lg: 1439.5px;
$md: 1023.5px;
$sm: 599.5px;
$xs: 359.5px;