.callback {
  max-width: $lg;
  padding: 64px 98px;
  margin-block: 88px;
  margin-inline: auto;
  background-color: $primary;
  border-radius: 50px;

  &__wrapper {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  &__doctor {
    height: 426px;
    padding-top: 52px;
    padding-left: 149px;
    background: transparent url('/img/message.svg') no-repeat;
    background-position: top left 44px;
    background-size: 412px;
  }

  &__avatar {
    width: 110px;
    aspect-ratio: 1 / 1;
    margin-left: -15px;
    margin-bottom: 28px;
  }

  &__name {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1;
  }

  &__specialization {
    font-size: 16px;
    color: $white;
    width: max-content;
    padding: 4px 12px;
    margin-block: 6px 24px;
    background-color: $primary;
    border-radius: 10px;
    display: block;
  }

  &__form {
    color: $white;
    display: flex;
    flex-direction: column;

    & > form {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
  }

  &__note {
    margin-block: 16px 56px;
  }

  &__form-group {
    width: auto;
    height: 51px;
    padding: 7px 16px;
    margin-top: 12px;
    border-radius: 10px;
    border: 1px solid $primary-footer-link;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;

    &.focus {
      border-color: $white;
    }

    &.error {
      border-color: $assets-4;
    }
  }

  &__label {
    font-size: 14px;
    color: $white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
    cursor: pointer;

    > span {
      color: $assets-4;
    }
  }

  &__input {
    font-size: 16px;
    color: $white;
    width: 100%;
    min-height: 0;
    height: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
  }

  &__form-group.open {
    .callback {
      &__label {
        font-size: 12px;

        > svg {
          display: none;
        }
      }

      &__input {
        height: 19px;
        margin-top: 4px;
      }

      &__textarea {
        min-height: 19px;
        margin-top: 4px;
      }
    }
  }

  label.error {
    font-size: 14px;
    color: $assets-4;
    margin-top: 8px;
    margin-left: 16px;
  }

  &__submit {
    font-size: 16px;
    min-width: 160px;
    padding: 15px 24px;
    margin-top: 16px;
    background-color: $secondary;
    border-radius: 30px;
  }
}

@media (max-width: $lg) {
  .callback {
    max-width: $md;
    padding: 64px 24px;
    margin-block: 72px;
    border-radius: 30px;

    &__doctor {
      height: 426px;
      padding-top: 61px;
      padding-left: 110px;
      background-position: top 23px left 20px;
      background-size: 358px;
    }

    &__avatar {
      margin-left: -11px;
      margin-bottom: 18px;
    }

    &__name {
      font-size: 20px;
    }

    &__specialization {
      margin-block: 6px 16px;
    }

    &__degree {
      font-size: 14px;
    }
  }
}

@media (max-width: $md) {
  .callback {
    max-width: $sm;
    padding: 8px 24px 32px;
    margin-block: 64px;
    border-radius: 30px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__doctor {
      aspect-ratio: 1 / 1;
      margin-inline: auto;
    }

    &__form {
      & > form {
        gap: 8px;
      }
    }

    &__form-group {
      width: 100%;
    }

    &__note {
      margin-block: 16px 32px;
    }
  }
}

@media (max-width: $sm) {
  .callback {
    max-width: $xs;
    padding: 8px 12px 32px;
    margin-block: 48px;
    border-radius: 30px;

    &__wrapper {
      gap: 16px;
    }

    &__doctor {
      width: 280px;
      height: 280px;
      padding-top: 41px;
      padding-left: 0;
      background: transparent url('/img/message.svg') no-repeat;
      background-position: top 8.33px left 8.33px;
      background-size: 263px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__avatar {
      width: 70px;
      margin-left: -10px;
      margin-bottom: 14px;
    }

    &__name {
      font-size: 14px;
      margin-inline: auto;
    }

    &__specialization {
      font-size: 12px;
      color: $white;
      width: max-content;
      padding: 4px 8px;
      margin-block: 6px 12px;
      margin-inline: auto;
    }

    &__degree {
      font-size: 12px;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &__title {
      font-size: 20px;
    }

    &__note {
      margin-block: 8px 16px;
    }
  }
}