.price-card {
  color: $white;
  padding: 24px;
  background-color: $primary;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 48px;
  gap: 16px 8px;

  &--fixed {
    display: none;
  }

  &__prices {
    display: flex;
    align-items: center;
    grid-column: 1 / 4;
  }

  &__current {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
  }

  &__old {
    font-size: 18px;
    text-decoration: line-through;
    color: $primary-disabled;
    margin-left: 8px;
  }

  &__sale {
    padding: 3px 12px 4px 12px;
    margin-left: 16px;
    background-color: $assets-2;
    border-radius: 13px;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__buy {
    color: $primary-footer-link;
    font-size: 16px;
    width: 100%;
    padding: 14px 23px;
    border: 1px solid currentColor;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &:hover {
      color: $white;
    }
  }

  &__add2cart {
    color: $black;
    width: 100%;
    height: min-content;
    margin-block: auto;
    flex-grow: 1;
  }

  &__favorite {
    color: #DEF1FC;
    height: 48px;
    aspect-ratio: 1 / 1;
    border: 1px solid #DEF1FC;
    border-radius: 50%;
    display: grid;
    place-content: center;

    &:hover {
      color: $assets-4;
    }

    &:active {
      color: $assets-4;
      path {
        fill: currentColor;
      }
    }

    &.active {
      color: $assets-4;
      background-color: #ffffff;
      border-color: #ffffff;
      path {
        fill: currentColor;
      }
    }
  }
}

@media (max-width: $md) {
  .price-card--fixed {
    padding-block: 12px;
    border-bottom: 1px solid $white;
    border-radius: 0;
    display: grid;
    grid-template-columns: 1fr 272px 272px 1fr;
    position: fixed;
    bottom: 58px;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    z-index: 24;

    &.show {
      transform: translateY(0);
    }

    .price-card {
      &__prices {
        flex-wrap: wrap;
        gap: 4px 0;
        grid-column: 2 / 3;
      }

      &__current {
        order: 1;
        width: 100%;
      }

      &__old {
        margin-left: 0;
      }

      &__add2cart {
        grid-column: 3 / 4;
      }
    }
  }
}

@media (max-width: $sm) {
  .price-card {
    padding: 16px 10px;
    grid-template-columns: 1fr 1fr;
    gap: 16px 4px;

    &--fixed {
      grid-template-columns: 1fr 164px 164px 1fr;
    }

    &__prices {
      flex-wrap: wrap;
      grid-column: 1 / 2;
    }

    &__current {
      order: 1;
      width: 100%;
    }

    &__old {
      margin-left: 0;
    }

    &__sale {
      font-size: 12px;
      padding: 2px 6px 3px 6px;
      margin-left: 8px;
    }

    &__buy {
      padding: 14px 20px;
    }

    &__favorite {
      margin-left: auto;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
  }
}